<!-- <div class="aboutme-content-container">
  <div class="title-container">
    <h1>ABOUT ME</h1>
    <h2>BUILDING EXPERIENCES THROUGH CODE AND PASSION</h2>
  </div>

  <div class="main-content-container">
    <div class="ambition-container" style="order: 1">
      <img src="/assets/images/ray.png" alt="ray" />
      <h3>My ambition</h3>
      <p>
        As a junior Full Stack developer, my ambition is to become a versatile
        web development expert. I'm in the early stages of building strong
        skills in Front-End (working with React and Angular) and Back-End
        (gaining experience with Node.js and Express). While I began my career
        in Industrial Robotics, this journey allowed me to discover my passion
        for web development and make a transition into this field.
      </p>
    </div>

    <div class="purpose-container" style="order: 3">
      <img src="/assets/images/trophy.png" alt="trophy" />
      <h3>My purpose</h3>
      <p>
        My commitment to continuous improvement constantly motivates me to
        expand my knowledge and contribute meaningfully to the web development
        industry. I see myself as a problem solver, which has been evident in
        facing challenges such as industrial process automation and digitization
        to eliminate paper-based workflows.
      </p>
    </div>

    <div class="avatar-container" style="order: 2">
      <img src="/assets/images/avatar.png" alt="avatar" />
    </div>
  </div>

  <div class="float-container">
    <div class="logo-container">
      <img src="/assets/images/award.png" alt="award" />
    </div>

    <div class="experience-container">
      <h4>1 +<span>Years of experience</span></h4>
    </div>
  </div>
</div> -->
