<div class="aboutme-content-container">
  <div class="title-container">
    <h1>ABOUT ME</h1>
    <h2>ALGO QUE ME DEFINA</h2>
  </div>

  <div class="main-content-container">
    <div class="ambition-container" style="order: 1">
      <img src="/assets/images/ray.png" alt="ray" />
      <h3>My ambition</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
        voluptatibus perspiciatis repudiandae excepturi ullam eaque nisi sint
        incidunt nobis nulla neque hic temporibus expedita aut harum, illo nemo
        maxime voluptas.
      </p>
    </div>

    <div class="purpose-container" style="order: 3">
      <img src="/assets/images/trophy.png" alt="trophy" />
      <h3>My purpose</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi enim
        laborum sit beatae nostrum quaerat ullam, magnam repellendus provident
        itaque, quisquam, necessitatibus illo exercitationem ab cumque pariatur?
        Incidunt, voluptates facilis!
      </p>
    </div>

    <div class="avatar-container" style="order: 2">
      <img src="/assets/images/avatar.png" alt="avatar" />
    </div>
  </div>

  <div class="float-container">
    <div class="logo-container">
      <img src="/assets/images/award.png" alt="award" />
    </div>

    <div class="experience-container">
      <h4>1 +<span>Years of experience</span></h4>
    </div>
  </div>
</div>
