<div class="service-content-container">
  <div class="title-container">
    <h1>Service</h1>
    <h2>
      An enthusiastic technology lover committed to providing quality services
      in web development
    </h2>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <p>logo</p>
      <h4>Back End</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>

    <div class="card-container">
      <p>logo</p>
      <h4>Front End</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>

    <div class="card-container">
      <p>logo</p>
      <h4>Full Stack</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>
  </div>
</div>
