<div class="service-content-container">
  <div class="title-container">
    <h1>SERVICE</h1>
    <h2>
      An enthusiastic technology lover committed to providing quality services
      in web development
    </h2>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <img src="/assets/images/back-img.png" alt="back-img" />
      <h4>BACK END</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>

    <div class="card-container">
      <img src="/assets/images/full-img.png" alt="full-img" />
      <h4>FULL STACK</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>

    <div class="card-container">
      <img src="/assets/images/front-img.png" alt="front-img" />
      <h4>FRONT END</h4>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur illum
        rerum laudantium sint deserunt, adipisci ipsam, optio sed aliquid odit
        nostrum facilis quia quis reiciendis, illo tempora neque eum architecto.
      </p>
    </div>
  </div>
</div>
