<div class="service-content-container">
  <div class="title-container">
    <h1>SERVICE</h1>
    <h2>
      An enthusiastic technology lover committed to providing quality services
      in web development
    </h2>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <img src="/assets/images/back-img.png" alt="back-img" />
      <h4>BACK END</h4>
      <p>
        For backend, I use Node.js in conjunction with Express, and
        regarding databases, I have experience with both NoSQL (MongoDB using
        Mongoose) and SQL (MySQL with Sequelize).
      </p>
    </div>

    <div class="card-container">
      <img src="/assets/images/full-img.png" alt="full-img" />
      <h4>FULL STACK</h4>
      <p>
        JavaScript is my primary language, used for both backend and frontend. I
        have created numerous APIs and their corresponding interfaces.
      </p>
    </div>

    <div class="card-container">
      <img src="/assets/images/front-img.png" alt="front-img" />
      <h4>FRONT END</h4>
      <p>
        For frontend, where I feel most comfortable at the moment, is with
        React Redux, although I also like Angular. I am also proficient in HTML,
        CSS, and Sass.
      </p>
    </div>
  </div>
</div>
