@import "../../styles.scss";

.contact-content-container {
  margin-bottom: 10vh;
}

.title-container {
  text-align: center;
  font-size: 1.25rem;
  color: $third-color;
}

.card-container {
  display: flex;
  align-items: center;
}
.card-container h4 {
  color: white;
}

.text-container {
  margin-left: 10px;
  color: $light-grey;
}

.contact-email {
  font-size: 0.85rem;
}

.links-container {
  display: flex;
  flex-direction: column;
}

.links-container a {
  color: $light-grey;
  text-decoration: none;
}

.links-container span {
  color: $third-color;
}

@media screen and (min-width: 768px) {
  .title-container h1 {
    font-size: 1.5rem;
  }
}
