<div class="contact-content-container">
  <div class="title-container">
    <h1>CONTACT</h1>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <div class="img-container">
        <img src="/assets/images/phone-icon.png" alt="phone-icon" />
      </div>
      <div class="text-container">
        <h4>Phone</h4>
        <p>From Monday to Friday, at business hours.</p>
        <p>601 44 41 18</p>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <div class="img-container">
        <img src="/assets/images/email-icon.png" alt="email-icon" />
      </div>
      <div class="text-container">
        <h4>Email</h4>
        <p>Everytime, when you want.</p>
        <p class="contact-email">adrianramirezgalera@gmail.com</p>
      </div>
    </div>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <div class="img-container">
        <img
          src="/assets/images/others-contacts-icon.png"
          alt="others-contacts"
        />
      </div>
      <div class="text-container">
        <h4>Others</h4>
        <p>Linkedin or github</p>
        <div class="links-container">
          <a href="https://www.linkedin.com/in/adrian-ramirez-galera/"
            >In: <span>adrian-ramirez-galera</span></a
          >
          <a href="https://github.com/AdrianRgGit"
            >Git: <span>AdrianRgGit</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
