<div class="portfolio-content-container">
  <div class="title-container">
    <h1>PORTFOLIO</h1>
    <h2>
      A tech enthusiast with a passion for creating outstanding web experiences
      through exceptional service
    </h2>
    <h4>LASTS PROJECTS</h4>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <a href="https://github.com/AdrianRgGit/angular_income_app">
        <div class="image-container">
          <img
            src="/assets/images/preview-income-app.png"
            alt="preview-income-app"
          />
          <div class="card-text">
            <h4>INCOME APP</h4>
            <h5>ANGULAR | TYPESCRIPT | HTML | SCSS</h5>
            <p>
              A basic project aimed at solidifying the knowledge learned in
              Angular and TypeScript. It is an application that allows a user to
              keep track of their expenses and income.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="card-container">
      <a href="https://github.com/AdrianRgGit/EventumBack/tree/develop">
        <div class="image-container">
          <img src="/assets/images/eventum-banner.jpg" alt="front-img" />
          <div class="card-text">
            <h4>EVENTUM BACK</h4>
            <h5>NODEJS | EXPRESS | SEQUELIZE | MYSQL</h5>
            <p>
              This is the backend part of a full-stack project created by 4 web
              developers for a "Marina de Empresas | EDEM". In this repository,
              you will find more details on how the project was executed.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="card-container">
      <a href="https://github.com/AdrianRgGit/EventumFront">
        <div class="image-container">
          <img src="/assets/images/gif-eventum-front.gif" alt="front-img" />
          <div class="card-text">
            <h4>FRONT END</h4>
            <h5>ANGULAR</h5>
            <p>
              This is the frontend part of a full-stack project created by 4 web
              developers for a "Marina de Empresas | EDEM". In this repository,
              you will find more details on how the project was executed.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
