<div class="portfolio-content-container">
  <div class="title-container">
    <h1>PORTFOLIO</h1>
    <h2>FRASE</h2>
    <h4>LASTS PROJECTS</h4>
  </div>

  <div class="cards-container">
    <div class="card-container">
      <div class="image-container">
        <img src="/assets/images/preview-income-app.png" alt="preview-income-app" />
        <div class="card-text">
          <h4>FRONT END</h4>
          <p>
            For frontend, where I feel most comfortable at the moment, is with
            React Redux, although I also like Angular. I am also proficient in
            HTML, CSS, and Sass.
          </p>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="image-container">
        <img src="/assets/images/front-img.png" alt="front-img" />
        <div class="card-text">
          <h4>FRONT END</h4>
          <p>
            For frontend, where I feel most comfortable at the moment, is with
            React Redux, although I also like Angular. I am also proficient in
            HTML, CSS, and Sass.
          </p>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="image-container">
        <img src="/assets/images/front-img.png" alt="front-img" />
        <div class="card-text">
          <h4>FRONT END</h4>
          <p>
            For frontend, where I feel most comfortable at the moment, is with
            React Redux, although I also like Angular. I am also proficient in
            HTML, CSS, and Sass.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
