@import "../styles.scss";

.components-container {
  color: white;
  background-color: $first-color;
}

.components-content-container {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .components-content-container {
    margin-left: 20%;
    font-family: $open-sans;
  }
}
