@import "../styles.scss";

.components-container {
  color: white;
  background-color: $first-color;
}

.components-content-container {
  margin-left: 270px;
}

.component-container{
  font-family: $open-sans;
}