@import "../../styles.scss";

.sidebar-container {
  font-family: $open-sans;
  font-weight: $weight-regular;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $second-color;
  padding-top: 20px;
}

.sidebar-container a {
  padding: 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar-container a:hover {
  background-color: #555;
}
