<div class="sidebar-container">
  <div class="logo-container">
    <img class="logo" src="/assets/images/logo.png" alt="Arg-logo" />
  </div>

  <div>
    <ul class="sidebar-list-container">
      <li>
        <div class="list-item-container">
          <a href="#home"
            ><fa-icon [icon]="faHouse" class="icon"></fa-icon>
            <span class="title">HOME</span></a
          >
        </div>
      </li>

      <li>
        <div class="list-item-container">
          <a href="#about-me"
            ><fa-icon [icon]="faUser" class="icon"></fa-icon>
            <span class="title">ABOUT ME</span></a
          >
        </div>
      </li>

      <li>
        <div class="list-item-container">
          <a href="#service"
            ><fa-icon [icon]="faSuitcase" class="icon"></fa-icon>
            <span class="title">SERVICE</span></a
          >
        </div>
      </li>

      <li>
        <div class="list-item-container">
          <a href="#skills"
            ><fa-icon [icon]="faPencil" class="icon"></fa-icon>
            <span class="title">SKILLS</span></a
          >
        </div>
      </li>

      <li>
        <div class="list-item-container">
          <a href="#portfolio"
            ><fa-icon [icon]="faFolder" class="icon"></fa-icon>
            <span class="title">PORTFOLIO</span></a
          >
        </div>
      </li>

      <li>
        <div class="list-item-container">
          <a href="#contact"
            ><fa-icon [icon]="faPhone" class="icon"></fa-icon>
            <span class="title">CONTACT</span></a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
