// Fonts
$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

// Weight
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 500;
$weight-bold: 700;

// Colors
$first-color: rgb(4, 13, 18);
$second-color: rgb(24, 61, 61);
$third-color: rgb(85, 230, 165);
$fourth-color: rgb(147, 177, 166);

// background colors
$light-grey: rgb(200, 200, 200);
$regular-grey: rgb(162, 162, 162);
$dark-grey: rgb(34, 40, 49);
$bold-grey: rgb(9, 16, 26);

// Global styles
html {
  background-color: $first-color;
}
