// Fonts
$open-sans: "Open Sans", sans-serif;
$roboto: "Roboto", sans-serif;

// Weight
$weight-thin: 100;
$weight-light: 300;
$weight-regular: 500;
$weight-bold: 700;

// Colors
$first-color: rgb(4, 13, 18);
$second-color: rgb(24, 61, 61);
$third-color: rgb(92, 131, 116);
$fourth-color: rgb(147, 177, 166);

// Global styles
html {
  background-color: $first-color;
}
