@import "../../styles.scss";

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 60px;

  height: 100vh;
}

.title-content {
  text-align: center;
}

.title-content h1,
h2 {
  font-size: 2rem;
  font-weight: $weight-bold;
}

// ===========Dynamic text============
.dynamic-text-container {
  overflow: hidden;
}

.dynamic-text {
  transition: opacity 0.7s ease, transform 0.7s ease;
  transform: translateY(0);
  opacity: 1;
  position: relative;
  animation: fade-out 0.7s ease forwards;
  color: $third-color;

  &.hidden {
    transform: translateY(20px);
    opacity: 0;
    animation: fade-in 0.7s ease forwards;
  }
}

@keyframes fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(20px);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
// ===========Dynamic text============

.text-content {
  text-align: justify;
  color: $light-grey;
  font-weight: $weight-light;
}

.strong-word {
  color: $third-color;
  font-weight: bold;
}

.download-container {
  width: 200px;
  height: 50px;
}

.download-container button {
  width: 100%;
  height: 100%;

  border: none;
  background-color: $third-color;
}

.download-container a {
  text-decoration: none;
  color: $dark-grey;
  margin-right: 10px;
}

// ================ + 768px =============
@media screen and (min-width: 768px) {
  .home-content-container {
    align-items: flex-start;
  }

  .title-content {
    text-align: start;
  }

  .title-content h1,
  h2 {
    font-size: 4rem;
  }

  .text-content {
    max-width: 70%;
    margin: 0;
    text-align: left;
  }

  .download-container button:hover {
    background-color: $light-grey;
    transition: background-color 0.3s ease;
  }
}
