<div class="home-content-container">
  <div class="title-content">
    <h1>HI, I'M ADRIAN!</h1>
    <h2>Texto dinámico</h2>
  </div>
  <div class="text-content">
    <p>
      I'm a <span class="strong-word">Web Developer</span> with a strong focus
      on <span class="strong-word">JavaScript</span>. My experience encompasses
      both <span class="strong-word">Front End</span> development, where I excel
      in React with Redux and Context, as well as
      <span class="strong-word">Back End</span> development, where I have
      extensive experience in Node.js and Express, along with database
      management, including MongoDB with Mongoose and MySQL with Sequelize.
    </p>
  </div>

  <div class="download-container">
    <button>
      <a href="/assets/downloads/CV-ENG.pdf" download="CV-ENG.pdf"
        >Download CV</a
      ><fa-icon [icon]="faArrowDown" class="icon"></fa-icon>
    </button>
  </div>
</div>
